#
site_name: Tu Ba Shu
nav:
- 主页: README.md
use_directory_urls: false
theme: 
   name: material
   # custom_dir: docs/overrides
   language: zh
   # logo: 
   # favicon: 
   icon:
        repo: fontawesome/brands/github
   features:
     - navigation.footer
     - navigation.instant
     - navigation.instant.progress
     - navigation.tracking
     - navigation.tabs
     - navigation.tabs.sticky
     - navigation.expand
     - toc.follow
     - toc.integrate
     - navigation.top
     - content.code.annotate
     - announce.dismiss
     - navigation.indexes
     - navigation.expand
     - search.suggest
     - search.highlight
     - search.share
     - navigation.sections
     - navigation.prune
site_description: 自由
site_url: https://example.com
site_author: Tu Ba Shu
copyright: ©2025 Tu Ba Shu
plugins:
    - search:
        lang:
            - en
            - ja
            - zh
        separator: '[\s\-\.]+'
    - git-revision-date-localized:
        enable_creation_date: true
        type: timeago
        locale: zh
    - glightbox
extra:
  consent:
    title: Cookie consent
    description: >- 
      We use cookies to recognize your repeated visits and preferences, as well
      as to measure the effectiveness of our documentation and whether users
      find what they're searching for. With your consent, you're helping us to
      make our documentation better.
    homepage: https://halfoffive.github.io/

repo_url: https://github.com/halfoffive/tubashu
repo_name: halfoffive/tubashu
edit_uri: https://github.com/halfoffive/tubashu/edit/main/docs/

markdown_extensions:
    - pymdownx.highlight:
        anchor_linenums: true
    - pymdownx.inlinehilite
    - pymdownx.snippets
    - pymdownx.superfences
    - tables
    - footnotes
    - pymdownx.critic
    - pymdownx.caret
    - pymdownx.keys
    - pymdownx.mark
    - pymdownx.tilde
    - attr_list
    - md_in_html
    - admonition
    - pymdownx.details
    - pymdownx.superfences
    - attr_list
    - pymdownx.emoji:
        emoji_index: !!python/name:materialx.emoji.twemoji
        emoji_generator: !!python/name:materialx.emoji.to_svg
